{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I'm a programmer who loves to learn something new.</p>
        <p>This is my blog that was made using Python and Flask</p>
        <p>You can contribute to my blog by registering <a href="https://patrick-flask-blog.herokuapp.com/register">here</a></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}